$green: #36bc9b;
$red: #db0f26;

.color-green {
    color: $green !important;
}
.color-red {
    color: $red !important;
}

.bg-green {
    background-color: $green !important;
}
.bg-red {
    background-color: $red !important;
}
