@import '../../../assets/scss/styles.scss';

.header {
    border-bottom: 1px solid #f0f1f4;

    .info {
        p {
            font-family: iranSansLight;
            padding: 0px 3px;
            direction: ltr;
            text-align: left;
        }
    }
}
