@import '../../../assets/scss/styles.scss';

.footer {
    background-color: #f0f1f4;
    .menu {
        cursor: pointer;
        img {
            max-width: 18px;
        }
        p {
            font-family: iranSansBold;
            font-size: $dim-font-base - 2px;
            padding-top: 1px;
        }
    }
}
